<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>내가 초대한 유저 목록</h1>
    <% for (var i=0; i < personlist.length ; i++ ) { %>
        
        <p>초대받은 유저: <%= personlist[i].초대받은사람 %>
        </p>
            <p>경기 제목: <%= personlist[i].제목 %>
            </p>
            <p>날짜: <%= personlist[i].경기진행날짜 %>
            </p>
            <p>시간: <%= personlist[i].경기진행시간 %>
            </p>
            <p>장소: <%= personlist[i].장소 %>
            </p>
            <p>인원: <%= personlist[i].인원 %>
            </p>
            <p>남은자리: <%= personlist[i].count %>명</p>
            <% if(personlist[i].여부==0){ %>
            <button class="btn_wait">매칭대기중</button>
            <% } %>
            <% if(personlist[i].여부==1){ %>
            <button class="btn_wait">매칭완료</button>
            <% } %>
            <% if(personlist[i].여부==2){ %>
            <button class="btn_wait">매칭실패</button>
            <% } %>
    <% } %>
</body>

</html>