<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box_line{
            border: 1px solid silver;
            margin: auto auto;
            width: 750px;
            border-radius: 20px;
            box-shadow: 0 0 3px 0 rgb(172, 170, 170);
        }
        .head_box{
            margin: 20px auto;
            align-items: center;
            justify-items: center;
            width: 290px;
        }
        .info_box{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
            margin: auto auto;
            width: 750px;
            border: 1px solid silver;
            border-top: none;
            border-right: none;
            border-left: none;
        }
        .main_info{
            margin: auto auto;
        }
        .sub_info{
            font-size: 12px;
            color: #727F88;
            margin-top: 3px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 5px;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        
       
        .btn_wait {
      width: 120px;
      height: 30px;
      border: 0;
      background-color: rgb(66, 66, 236);
      font-size: 18px;
      font-weight: bold;
      color: white;
      border-radius: 10px;
      padding: 3px;
    }
        .btn_complete {
      width: 120px;
      height: 30px;
      border: 0;
      background-color: #5da034;
      font-size: 18px;
      font-weight: bold;
      color: white;
      border-radius: 10px;
      padding: 3px;
    }
        .btn_fail {
      width: 120px;
      height: 30px;
      border: 0;
      background-color: red;
      font-size: 18px;
      font-weight: bold;
      color: white;
      border-radius: 10px;
      padding: 3px;
    }
    </style>
</head>

<body style="margin: 0; padding: 0;">
    <%- include('nav.html') %>
            <div class="head_box">
                <h1 style="margin: auto; padding: auto;">초대한 유저 목록</h1>
            </div>
            <div class="box_line">
                <% for (var i=0; i < personlist.length ; i++ ) { %>
                <div class="info_box">
                    <div class="main_info" style="font-weight: bold;">
                        <h3>이름: <%= personlist[i].초대받은사람 %>
                        </h3>
                    </div>
                    <div>
                     <p>경기 제목: <%= personlist[i].제목 %>
                     </p>
                     <p>날짜: <%= personlist[i].경기진행날짜 %>
                     </p>
                        <div class="sub_info">
                            <span>시간: <%= personlist[i].경기진행시간 %>:00
                            </span>
                            <span>장소: <%= personlist[i].장소 %>
                            </span>
                            <span>인원: <%= personlist[i].인원 %>
                            </span>
                            <span>남은자리: <%= personlist[i].count %>명</span>
                        </div>
                    </div>
                    <div class="btn_box" style="margin: auto auto;">
                        <% if(personlist[i].여부==0){ %>
                        <button class="btn_wait">매칭대기중</button>
                         <% } %>
                        <% if(personlist[i].여부==1){ %>
                        <button class="btn_wait btn_complete">매칭완료</button>
                        <% } %>
                        <% if(personlist[i].여부==2){ %>
                        <button class="btn_wait btn_fail">매칭실패</button>
                         <% } %>
                    </div>
                </div>
                <% } %>
            </div>
</body>

</html>