<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>순풋</title>
    <style>
        @media screen and (min-width:481px) {
            * {
                height: 100%;
            }
            #main {
                height: 80%;
            }
            #container {
                width: 55%;
                height: 70%;
                margin: 50px auto;
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-gap: 20px;
            }
            #profileBox {
                display: grid;
                grid-template-rows: 1fr 1.5fr 1fr;
                grid-gap: 30px;
            }
            #userName {
                padding: 15px;
                border: 1px solid #ced4da;
                border-radius: 10px;
                box-shadow: 0 0 3px 0 rgb(172, 170, 170);
            }
            #user_id{
                font-size: 24px;
                font-weight: bold;
            }
            #user_name {
                color: #727F88;
            }
            #user_department {
                color: #727F88;
            }
            #profile {
                border: 1px solid #ced4da;
                border-radius: 10px;
                box-shadow: 0 0 3px 0 rgb(172, 170, 170);
                display: grid;
                grid-template-rows: 0.5fr 2fr;
                padding: 15px;
                font-weight: bold;
            }
            #profilemenu {
                /* display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-gap: 10px; */
                list-style: none;
                height: 30%;
            }
            #profilemenu:hover {
                cursor: pointer;
            }
            /* #profileBtn button{
                border-radius: 10px;
                background-color: #8bc269;
                border: 0;
                font-weight: bold;
            } */
            #userScore {
                border: 1px solid #ced4da;
                border-radius: 10px;
                box-shadow: 0 0 3px 0 rgb(172, 170, 170);
                height: 100%;
                padding: 15px;
                font-weight: bold;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            #score {
                height: fit-content;
                margin: 20px;
            }
            #detail {
                font-size: 14px;
            }
            #score_img {
                width: 50px;
                height: 50px;
                place-content: center;
                align-items: center;
                margin: 5px;
            }

            #menuBox ul {
                display: grid;
                grid-template-rows: auto auto auto auto auto auto;
                border: 1px solid #ced4da;
                border-radius: 10px;
                box-shadow: 0 0 3px 0 rgb(172, 170, 170);
                margin: 0;
                padding: 20px;
            }
            #menuBox ul li {
                list-style: none;
            }
            #menuBox ul li:hover {
                cursor: pointer;
            }
            #item {
                display: flex;
                align-items: center;
            }
            #item span{
                display: flex;
                align-items: center;
            }
            #menuBox li img {
                width: 30px;
                height: 30px;
                margin: 0 10px;
            }
            
        }
        /* .menubutton{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin: 20px 50px;
        }
        .btn{
            background-color: white;
            border: 1px solid gray;
            border-radius: 100px;
            width: 200px;
            height: 200px;
        }
        .btn:hover{
            background-color: #5da034;
            border: 2px solid white;
            
        }
        .btn_box{
            margin:20px auto;
        }
        button img {
            width: 40px;
            height: 40px;
            margin: 0 10px;
        }
        a{  
            color: black;
            font-weight: bold;
            padding: 100px 0;
        }
        .btn a:hover{
            color: white;
        } */
        
    </style>
  </head>
  <body>
    <!-- NavBar -->
    <%- include('nav.html') %>
    <main id="main">
        <div id="container">
            <div id="profileBox">
                <div id="userName">
                <span id="user_id"><%= user.id %></span><br><br>
                <span id="user_name"><%= user.name %> /</span>
                <span id="user_department"><%= user.department %></span>
                </div>

                <div id="profile">
                    <div id="por_title">
                        <span>프로필</span>
                    </div>
                    <div id="profilemenu">
                        <li onclick="location.href='/inputprofile'">프로필 설정</button>
                        <li onclick="location.href='/myprofile'">프로필 보기</button>
                        <li onclick="location.href='/editprofile'">프로필 수정</button>
                    </div>
                </div>

                <div id="userScore">
                    <div id="score">
                        <span>나의 매너점수 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <% if(score.count == 0 ) { %>
                            <span> 0 / 5.0</span><br><br>
                            <span id="detail">아직 평가를 받은 내용이 없습니다</span>
                        <% } %>
                        <% if( avg <= 3 ) { %>
                            <span> <%= avg.toFixed(1) %> / 5.0</span><br><br>
                            <span id="detail"> 조금 더 매너게임을 해봐요!</span>
                        <% } %>
                        <% if( avg >= 4 ) { %>
                            <span> <%= avg.toFixed(1) %> / 5.0</span><br><br>
                            <span id="detail"> 매너점수가 훌륭합니다!</span>
                        <% } %>
                    </div>

                    <div id="score_img">
                        <% if(score.count == 0 ) { %>
                            <img src="public/imgs/noscore.png" alt="">
                        <% } %>
                        <% if( avg <= 3 ) { %>
                            <img src="public/imgs/avg.png" alt="">
                        <% } %>
                        <% if( avg >= 4 ) { %>
                            <img src="public/imgs/best.png" alt="">
                        <% } %>
                    </div>
                </div>
            </div>

            <div id="menuBox">
                <ul>
                    <li onclick="location.href='/resmatch'">
                        <div id="item"><img src="public/imgs/apply.png" alt="신청한경기"><span>신청한 경기</span></div>
                    </li>
                    <li onclick="location.href='/reqmatch'">
                        <div id="item"><img src="public/imgs/receive.png" alt="신청받은경기"><span>신청받은 경기</span></div>
                    </li>
                    <li onclick="location.href='/boardview'">
                        <div id="item"><img src="public/imgs/board.png" alt="내 게시물"><span>내 게시물</span></div>
                    </li>
                    <li onclick="location.href='/myinvitelist'">
                        <div id="item"><img src="public/imgs/receive.png" alt="초대한 유저 목록"><span>초대한 유저 목록</span></div>
                    </li>
                    <li onclick="location.href='/invited_match'">
                        <div id="item"><img src="public/imgs/receive.png" alt="초대받은경기"><span>초대받은경기</span></div>
                    </li>
                    <li onclick="location.href='/logout'">
                        <div id="item"><img src="public/imgs/logout.png" alt="로그아웃"><span>로그아웃</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </main>







    <!-- <div class="menubutton">

        <div class="btn_box">
            <button type="button" class="btn">
                <a class="text-decoration-none" href="/inputprofile"><img src="public/imgs/profile.png" alt="프로필입력">프로필입력
                </a>
            </button>
        </div>
        <div class="btn_box">
            <button type="button" class="btn" >
                <a class="text-decoration-none" href="/myprofile"><img src="public/imgs/view.png" alt="프로필보기">프로필보기</a>
            </button>
        </div>
        <div class="btn_box">
            <button type="button" class="btn">
                <a class="text-decoration-none" href="/editprofile"><img src="public/imgs/modify.png" alt="프로필수정">프로필수정</a>
            </button>
        </div>
        
        <div class="btn_box">
            <button type="button" class="btn">
                <a class="text-decoration-none" href="/resmatch"><img src="public/imgs/apply.png" alt="신청한경기">신청한 경기</a>
            </button>
        </div>
        <div class="btn_box">
            <button type="button" class="btn">
                <a class="text-decoration-none" href="/reqmatch"><img src="public/imgs/receive.png" alt="신청받은경기">신청받은 경기</a>
            </button>
        </div>
        <div class="btn_box">
            <button type="button" class="btn">
                <a class="text-decoration-none" href="/boardview"><img src="public/imgs/board.png" alt="내 게시물">내 게시물</a>
            </button>
        </div>
        <div class="btn_box">
            <button type="button" class="btn">
                <a class="text-decoration-none" href="/myscore"><img src="public/imgs/score.png" alt="내 점수 보기">내 점수</a>
            </button>
        </div>
        <div class="btn_box">
            <button type="button" class="btn">
                <a class="text-decoration-none" href="/logout"><img src="public/imgs/logout.png" alt="로그아웃">로그아웃</a>
            </button>
        </div>
        <div class="btn_box">
            <button type="button" class="btn">
                <a class="text-decoration-none" href="/myinvitelist"><img src="public/imgs/receive.png" alt="초대한 유저 목록">초대한 유저 목록</a>
            </button>
        </div>
        <div class="btn_box">
            <button type="button" class="btn">
                <a class="text-decoration-none" href="/invited_match"><img src="public/imgs/receive.png" alt="초대받은경기">초대받은경기</a>
            </button>
        </div>
    </div> -->
    
    
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
   
  </body>
</html>