<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <title>순풋</title>
  <style>
   .all_box{
      align-items: center;
      justify-content: center;
      margin: auto auto;
      width: 900px;
    }
    .headdiv{
      margin: 20px auto;
      align-items: center; 
      justify-content: center;
      font-weight: bold;

    }
    .container{
      width: 100%;
      border: 1px solid silver;
      box-shadow: 0 0 3px 0 rgb(172, 170, 170);
      border-radius: 20px;
    }
    .list-group-item{
      padding-top: 20px;
      padding-bottom: 20px;
      border: 1px solid silver;
      border-left: none;
      border-right: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-weight: bold;
    }
    .profile{
      font-weight: bold;
    }
     .btn{
            color: white;
            font-weight: bold;
            width: 90px;
            height: 38px;
            border-radius: 5px;
            border: 0;
            background-color: #5da034;
            margin-top: 20px;
        }
  </style>
</head>

<body>
  <%- include('nav.html') %>
    <% const str=" " ; %>
  <div class="all_box"> 
    <div class="headdiv">
      <h4 style="margin: auto auto;" class="font-weight-bold">
        신청받은 내역
      </h4>
    </div>
    <div class="container">
      <ul class="list-group">
        <% if(allpost.length == 0) { %>
          <p>아직 신청받은 경기가 없습니다.</p>
          <% }%>
        
          <% if(allpost != 0) { %>
        <%for (var i=0; i < allpost.length; i++ ) { %>
          
                  <li class="list-group-item">
                    <div class="info">
                      <h4 class="mb-4">신청자: <%= allpost[i].신청자 %>
                      </h4>
                      <p>제목: <%= allpost[i].제목 %>
                      </p>
                      <p>내용: <%= allpost[i].게시글 %>
                      </p>
                      <p>경기 날짜: <%= allpost[i].경기진행날짜 %>
                      </p>
                      <p>경기 시간: <%= allpost[i].경기진행시간 %>
                      </p>
                    </div>
                    
                    <div class="profile">
                      <p><%= allpost[i].신청자%>님의 프로필</p>
                      <% if(allpost[i].성별 === "남성") { %>
                        <div class="male">
                          <img src="public/imgs/male.png" alt="male" width="50px" height="50px" >
                          <span class="pl-3"><%= allpost[i].성별 %></span>
                        </div>
                      <% }%>
                      <% if(allpost[i].성별 === "여성") { %>
                        <div class="female">
                          <img src="public/imgs/female.png" alt="female" width="50px" height="50px">
                          <span class="pl-3"><%= allpost[i].성별 %></span>
                        </div>
                      <% }%>
                      
                      <div id="positioninfo">
                        <img src="public/imgs/position.png" alt="foot" width="50px" height="50px">
                        <span class="pl-3"><%= allpost[i].선호포지션 %></span>
                      </div>
                      <div>
                        <img src="public/imgs/foot.png" alt="foot" width="50px" height="50px">
                        <span class="pl-3"><%= allpost[i].주발 %></span>
                      </div>
                      <div id="scoreinfo">
                        <img src="public/imgs/foot.png" alt="foot" width="50px" height="50px">
                        <span class="pl-3"></span>
                      </div>
                    </div>

                    <div>
                      <button class="accept btn" data-id="<%= allpost[i]._id %>"
                        data-articlenum="<%= allpost[i].신청한게시물번호%>"
                        onclick="alert('수락되었습니다.')">
                        수락
                      </button>
                      <button class="refuse btn" data-id="<%= allpost[i]._id %>"
                        onclick="alert('거절하였습니다.')">거절</button>
                    </div>
                  </li>
                 <% } %>
               <% }%>
      </ul>
    </div>
  </div>


      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

      <script>
        //  $('.modal_btn').click(function (e) {
        //   var clickarticle = e.target.dataset-id //지금 클릭한것
        //   var nowClick = $(this); // 지금 이벤트가 동작하는 곳
        //   console.log(clickarticle);


        //   $.ajax({
        //     method: 'POST',
        //     url: '/',
        //     data: { _id: clickarticle }
        //   }).done(function (result) {
        //     // console.log(data);
        //   }).fail(function (xhr, textStatus, errorThrow) {
        //     //요청 실패시
        //     console.log(xhr, textStatus, errorThrow);
        //   });


        // })
        $('.modal_btn').click(function (e) {
                    var id = e.target.dataset.id; //지금 클릭한것
                    console.log(id);//나정배라고
                    var nowClick = $(this); // 지금 이벤트가 동작하는 곳
                    $.ajax({
                        method: 'POST',
                        url: '/modal_btn',
                        data: { id: id }
                    }).done(function (result) {
                        console.log(data);
                    }).fail(function (xhr, textStatus, errorThrow) {
                        //요청 실패시
                        console.log(xhr, textStatus, errorThrow);
                    });
                })

               
      </script>

      <script>
        $('.accept').click(function (e) {
          var clickarticle = e.target.dataset //지금 클릭한것
          var nowClick = $(this); // 지금 이벤트가 동작하는 곳
          console.log(clickarticle);

        //  $('.list-group-item').css("display","none");

          $.ajax({
            method: 'PUT',
            url: '/accept',
            data: { _id: clickarticle }
          }).done(function (result) {
            // console.log(data);
          }).fail(function (xhr, textStatus, errorThrow) {
            //요청 실패시
            console.log(xhr, textStatus, errorThrow);
          });


        })

        window.onload = function () {
            if (location.href.indexOf('reloaded') == -1) location.replace(location.href + '?reloaded');
            //if (parent.location.href.indexOf('reloaded')==-1) parent.location.replace(parent.location.href+'?reloaded');
        }
      </script>

      <script>
        $('.count').click(function (e) {
          var clickarticle = e.target.dataset.id; //지금 클릭한것
          var nowClick = $(this); // 지금 이벤트가 동작하는 곳
          console.log(clickarticle);
          $.ajax({
            method: 'PUT',
            url: '/accept',
            data: { 신청한게시물번호: clickarticle }
          }).done(function (result) {
            console.log(data);
          }).fail(function (xhr, textStatus, errorThrow) {
            //요청 실패시
            console.log(xhr, textStatus, errorThrow);
          });
        })
      </script>

      <script>
        $('.refuse').click(function (e) {
          var postNum2 = e.target.dataset.id; //지금 클릭한것
          var nowClick = $(this); // 지금 이벤트가 동작하는 곳
          $.ajax({
            method: 'PUT',
            url: '/refuse',
            data: { _id: postNum2 }
          }).done(function (result) {
            console.log(data);
          }).fail(function (xhr, textStatus, errorThrow) {
            //요청 실패시
            console.log(xhr, textStatus, errorThrow);
          });
        })

        window.onload = function () {
            if (location.href.indexOf('reloaded') == -1) location.replace(location.href + '?reloaded');
            //if (parent.location.href.indexOf('reloaded')==-1) parent.location.replace(parent.location.href+'?reloaded');
        }

      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>