<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Football Matching for SCH</title>
  </head>
  <body>
    <%- include('nav.html') %>

    <h1><%= 매칭된게시물.신청자%>님의 매칭결과 페이지</h1>
      <ul class="list-group">
        <% nprint : for (var i=0; i < 모든게시물.length; i++ ) { %>
          <% if(모든게시물[i].신청자 == 매칭된게시물.신청자) { %>
            <li class="list-group-item">
              <p>제목: <%= 모든게시물[i].제목 %></p>
              <p>게시글: <%= 모든게시물[i].게시글 %></p>
              <p>신청자: <%= 모든게시물[i].신청자 %></p>
              <p>작성자: <%= 모든게시물[i].작성자 %></p>
              <p>경기진행날짜: <%= 모든게시물[i].경기진행날짜 %></p>
              <p>경기진행시간: <%= 모든게시물[i].경기진행시간 %></p>
              <% if(모든게시물[i].여부 == 0) { %>
                <button class="btn btn-primary">매칭대기중</button>
                <% continue nprint; %>
                <% } %>

              <% if(모든게시물[i].여부 == 1) { %>
                <button class="btn btn-success">매칭완료</button>
                <form action="/apply" method="POST">
                  <input name="id" value="<%= 모든게시물[i].작성자 %>" readonly/>
                  <label>님 평가하기</label>
                  
                  <!-- <select class="form-control" data-score="name" name="score"> -->
                  <select class="form-control" name="score" value="score">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  <button type="submit">저장</button>
                  </form>
                <!-- <button type="submit" class="apply" data-id="<%= 모든게시물[i].작성자 %>">저장</button> -->
                <!-- <button type="submit" name="작성자" value="<%= 모든게시물[i].작성자 %>">저장</button> -->
              
              <% continue nprint; %>
              <% } %>

              <% if(모든게시물[i].여부 == 2) { %>
                <button class="btn btn-danger">매칭실패</button>
                <% continue nprint; %>
                <% } %>
            </li>
          <% } %>
        <% } %>

      </ul>

    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script> -->

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>